* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
  height: 400px;
}
aside {
  margin-right: 40px;
  width: 25%;
  height: 115%;
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

section {
  background-color: white;
  width: 20%;
  padding: 0px;
  border-radius: 30px;
  display: grid;
  gap: 15px;
}

#summaryTitle,
#acquiredPoints {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
  margin-right: 10px;
}

.summaryTitle {
  padding-top: 40px;
}

.reaction,
.memory,
.verbal,
.visual {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 15px;
  border-radius: 15px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.05);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.05);
}

.verbal {
  background-color: hsl(166, 100%, 37%, 0.05);
}

.visual {
  background-color: hwb(234 7% 17% / 0.05);
}

.reactionTitle,
.memoryTitle,
.verbalTitle,
.visualTitle {
  display: flex;
}

#wordReaction {
  color: hsl(0, 100%, 67%);
  font-weight: 700;
}

#wordMemory {
  color: hsl(39, 100%, 56%);
  font-weight: 700;
}

#wordVerbal {
  color: hsl(166, 100%, 37%);
}

#wordVisual {
  color: hwb(234 7% 17%);
}

.points {
  display: flex;
}

#hundredPoints {
  color: hsl(240, 2%, 60%);
  font-weight: 700;
}

.continueButton {
  padding: 15px 130px;
  border: none;
  border-radius: 100px;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  margin-top: 25px;
  cursor: pointer;
  transition: 0, 4s;
}

.continueButton:hover {
  background-color: hsla(256, 72%, 46%, 1);
}

#resultTitle {
  font-weight: 700;
  margin-right: 10px;
  color: hsl(241, 100%, 89%);
  text-align: center;
}

.mainPoints {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background-color: #3e5fcc;
  text-align: center;
  align-items: center;
  justify-self: center;
  background-image: linear-gradient(#4c24cb, #4434f4);
}

#totalPoints {
  color: White;
  font-size: 50px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-weight: 800;
  padding-bottom: -5%;
}

#great {
  text-align: center;
  font-size: 26px;
  color: White;
  margin-top: 10px;
}

#text-points {
  text-align: center;
  font-size: 16px;
  color: hsl(241, 100%, 89%);
  max-width: 85%;
  padding: 0px 20px 40px 20px;
}

#of100 {
  color: hsl(241, 100%, 89%);
  font-size: 16px;
}
