.paragraph1 {
  font-style: italic;
}

.paragraph2 {
  text-decoration: underline;
}

/* .paragraph3 { 
  poderia ter usado font-size:large e small
} */
.paragraph4 {
  font-size: ;
}
.paragraph1 {
}
