body {
  background-color: black;
}
.container {
  background-color: crimson;
}
.card {
  background-color: cornflowerblue;
}
.leftImg {
  background-color: chartreuse;
}
.asideText {
  background-color: darkorange;
}
