* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
.container {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  width: 37vw;
  min-height: 55vh;
  border-radius: 10px;
}
.leftImg {
  width: 18.5vw;
}

#img {
  min-height: 100%;
  width: 18.5vw;
  border-radius: 10px 0px 0px 10px;
}
.asideText {
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  width: 18.5vw;
  border-radius: 0px 10px 10px 0px;
}

.textPart {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#perfumeDescription,
h5 {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: hsl(228, 12%, 48%);
}

#perfumeDescription {
  line-height: 23px;
}

h5 {
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 12px;
}

h1 {
  font-family: Fraunces, Verdana, Geneva, Tahoma, sans-serif;
  color: hsl(212, 21%, 14%);
}

.valueAndButton {
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "lowerPrice higherPrice"
    "button button";
}

#lowerPrice {
  font-family: Fraunces, Verdana, Geneva, Tahoma, sans-serif;
  width: 700;
  font-size: 30px;
  margin-top: 20px;
  color: hsl(158, 36%, 37%);
}

#higherPrice {
  color: hsl(228, 12%, 48%);
  margin-top: 30px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  text-decoration: line-through;
  font-weight: 500;
  margin-left: 20px;
}

#button {
  border: none;
  border-radius: 8px;
  font-family: Fraunces, Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsl(158, 36%, 37%);
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

@media (1330px);
